.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* .spacing{
  margin:0 10px;
}

.colour{
  color: #487eb0;
}

.back{
  background-color:#dff9fb;
}

.button-space{
  margin-right: 30px;
}

.image{
  display: block;
  margin: 0 auto;
  width: 55%;
}

.one-line{
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
